.comment {
  font-size: 1em;

  padding: 0;
  margin: 0;
  border-style: #000000;
  word-wrap: break-word;
}
.comment-container {
  max-height: 40vh;
  overflow-y: scroll;
  border-style: #000000;
  margin-bottom: 10px;

}


.comment-time {
  color: #003569;
  font-size: 0.75em;

}
.form-group{

}

